:root {
  --greenblue: #0b4055;
  --lightgrey: #d2e5f644;
  --bg-grad: linear-gradient(0.301turn, #ebfcff 6.11%, #f5e9ff 187.16%);
  --skyblue: #d2e5f6;
}

.text-blue {
  color: var(--greenblue);
}
.card-grad-bg {
  background: var(--bg-grad);
}
.card-bg {
  background-color: var(--lightgrey);
}
.bg-skyblue {
  background-color: var(--skyblue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#58586b] from-20% via-[#484859] via-60% to-[#343440] to-100% bg-clip-text text-transparent;
  }
}
